* {
  font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  button {
    border-color: white;
    background-color: black;
    color: white;
  }

  dialog {
    background-color: black;
    border-color: white;
    color: white;
  }

  input[type="text"] {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  button {
    border-color: black;
    background-color: white;
    color: black;
  }

  dialog {
    background-color: white;
    border-color: black;
    color: black;
  }

  input[type="text"] {
    background-color: white;
    color: black;
  }
}

body {
  font-size: 1.18rem;
}

button, dialog {
  border-radius: 3px;
  border-style: solid;
}

div#colorsDiv > button {
  height: 30px;
  width: 30px;
  margin: 10px;
  transition-duration: 200ms;
}

div#colorsDiv > button:hover {
  transform: scale(1.25);
}

div#editColorsDiv {
  padding-left: 3px;
}

div#editColorsDiv > button {
  margin: 0 4.5px;
  padding: 0 4px;
}

#resetColors {
  margin: 20px 7px;
}
