@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  button {
    border-color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  button {
    border-color: black;
  }
}

button {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 3px;
  border-style: solid;
  transition-duration: 200ms;
}

button:hover {
  transform: scale(1.25);
}
